:root {
    --white-color: #FFF;
    --orange-color: #FF862F;
    --light-grey: #F6F6F6;
    --medium-grey: #999999;
    --dark-grey: #333333;
    --footer-color: #EAEAEA;
    --purple-color: #A65CF0;
}

$fonts: 'Open Sans', sans-serif;
